body{
    margin:0;
    background-color: #F0FDF4;
    display:flex;
    justify-content: center;
}
.main-block{
    width: 500px;
    background-color:#F0FDF4;
    display:flex;
    justify-content: center;
}
.container{
    margin:20px;
    min-width: fit-content;
    max-width: 500px;
    background-color:#F0FDF4;
    height:100vh;
}