body{
    margin:0;
    background-color:#F0FDF4;
    display:flex;
    justify-content: center;
}
main{
    max-width: 100%;
    padding:20px;
    box-sizing: border-box;
    background-color:#F0FDF4;
    display:flex;
    justify-content: center;
}


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.truncated {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.customized-button{
    background-color:#FFF ;
    color:#16A34A;
    border: 2px solid #16A34A;
}
.customized-button:hover{
    background-color:#16A34A ;
    color:#FFF;
}

.white-bg-green-cl{
    background-color:#FFF ;
    color:#16A34A;
}

.white-bg-black-cl{
    background-color:#FFF ;
    color: #000f03;;
}

.card-info{
    display:flex;
    justify-content: center;
    background-color: #FFF;
}